﻿<ion-view view-title="Login">
    <ion-content class="center">
        <button ng-click="loginFacebook()" class="button button-block btn-social btn-facebook rounded"><i class="icon icon-left ion-social-facebook"></i>
             Login with Facebook
        </button>
        <button ng-click="loginGoogle()" class="button button-block btn-social btn-google rounded"><i class="icon ion-social-google"></i>
             Login with Google
        </button>
    </ion-content>
</ion-view>
