<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable tabs-energized" ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">

    <!-- Login Tab -->
    <ion-tab hidden='true' icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/login">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
