<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
      <div>
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
      </div>
      <div ng-show="start_track_bool">
          <b>{{distance}}</b>
      </div>
      <div class="center">
          <canvas id="arrow" width="256" height="256"></canvas>
      </div>
      <!--<div class="item item-divider primary">My ID: {{$storage.user_id}}</div>
      <div class="item item-body">
          <div>
              <b>Address: </b> {{my_location.address}} <br />
              <b>Long: </b> {{my_location.long}}<br />
              <b>Lat: </b> {{my_location.lat}}
          </div>
      </div>-->


      <!--<div class="list card">
          <div class="item item-divider primary">
              Track ID: <input ng-model="track_id" ng-disabled="start_track_bool" />
              <button class="button button-small" ng-class="start_track_bool ? 'button-assertive' : 'button-balanced'" ng-click="trackingToggle(track_id)">{{start_track_bool ? 'Stop' : 'Start'}}</button>
          </div>
          <div class="item item-body">
              <div>
                  <b>Address: </b> {{your_location.address}}<br />
                  <b>Long: </b> {{your_location.long}}<br />
                  <b>Lat: </b> {{your_location.lat}}
              </div>
          </div>
      </div>-->
  </ion-content>
</ion-view>
